* {
    box-sizing: border-box;
}

body {
    margin: 20px 0 0;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.heading {
    font-size: 40px;
    position: relative;
}

.text-center {
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar img {
    margin-left: 8px;
}

.nav-options {
    position: relative;
    right: 50px;
}

.nav-options a {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.login {
    color: #6b67f5 !important;
}

.cta-btn {
    border-radius: 30px;
    background-color: #6b67f5;
    border: 0;
    color: white;
}

.sm-btn {
    padding: 12px 30px;
    font-size: 16px;
}

.lg-btn {
    padding: 15px 40px;
    font-size: 18px;
}

.mid-btn {
    padding: 15px 35px;
    font-size: 17px;
}

.btn-nav{
    margin-left: 70px;
    position: relative;
}
.hero {
    display: flex;
    padding-top: 90px;
    justify-content: space-between;
}

.hero .content {
    width:  50%;
}

.hero .main-heading{
    font-size: 40px;
}

.hero .sub-heading {
    font-size: 20px;
    font-weight: 600;
}

.text-purple {
    color: #6b67f5;
}

.hero .trail-btn {
    height: max-content;
    margin-top: 20px;
}

.video-logo {
    width: 60px;
    margin-left: 30px;
    margin-top: 20px;
}

.watch-video {
    color: black;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 40px;
    font-weight: 600;
}

.plans-text {
    font-size: 20px;
}

.hero .shopify {
    margin-left: 40px;
}

.hero .capterra {
    width: 115px;
    height: 25px;
    margin-top: 25px;
    margin-left: 45px;
}

.hero .star-text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

/* .hero .star-img {
    width: 125px;
} */

.sm-hero-img {
    display: none;
}

.logo-container{
    display: inline-block;
}

.logo-XL {
    width: 300px;
}

.logo-lg {
    width: 200px;
}

.logo-mid {
    width: 140px;
}

.logo-sm {
    width: 100px;
}

.logo-dp {
    width: 65px;
    height: 65px;
}

.right-gap {
    margin-right: 50px;
}

.logo-pos-down {
    
}

.integrations {
    padding: 175px 0px 100px;
    text-align: center;
}

.integrations .text {
    margin-bottom: 85px;
}

.testimonial .wrapper{
    background-color: #f3f7ff;
    padding: 50px;
    border-radius: 20px;
    padding-top: 45px;
    padding: 45px 0 50px 55px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.info {
    width: 30%;
    font-size: 20px;
    padding-top: 45px;
}

.founder-name {
    font-weight: bold;
    margin: 10px 0 5px 15px;
}

.founder {
    padding-left: 20px;
    padding-bottom: 25px;
    margin-top: 0;
    font-size: 17px;
}

.testimonial .feedback {
    width: 34%;
    font-size: 20px;
    padding-right: 60px;
    padding-top: 35px;
    border-right: 2px solid #cadcff;
}

.testimonial .rating {
    width: 34%;
    padding-left: 80px;
    padding-top: 35px;
}

.testimonial .shopify {
    margin-top: 20px;
}

.testimonial .capterra {
    width: 115px;
    height: 25px;
    margin-left: 35px
}

.testimonial .star-text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.solution {
    padding-top: 100px;

}

.solution .wrapper {
    margin-left: auto;
    background-image: url(./../images/light-yello-bg-right-2.svg); 
    background-repeat: no-repeat;
    background-position: center;
    
}

.stats {
    width: 50%; 
    padding-left: 145px;
}

.stats .main-heading {
    font-size: 35px;
    width: 60%;
    margin-bottom: 0;
    position: relative;
}

.stats .yellow-bar::before {
    content: ' ';
    position: absolute;
    top: -15px;
    left: 0;
    background-image: url(../images/divider.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 7px;
    background-size: contain;
}

.art-four-bars::after {
    content: ' ';
    position: absolute;
    top: -35px;
    right: -15px;
    background-image: url(../images/design-1.svg);
    background-repeat: no-repeat;
    width: 110px;
    height: 70px;
    background-size: contain;
}

.bold {
    font-weight: bold;
}

.solution .sub-text {
    color: #50515f;
    font-size: 20px;
    width: 75%;
    margin-top: 15px;
}

.stats .percentage {
    font-size: 60px;
}

.stats .percentage-text {
    font-size: 20px;
    position: relative;
    bottom: 50px;
}

.stats .pos-bottom {
    position: relative;
    bottom: 75px;
}

.stats .trial-btn {
    margin-top: 50px;
    position: relative;
}

.art-curvy-arrow::after {
    content: ' ';
    position: absolute;
    top: 0px;
    right: -85px;
    background-image: url(../images/curvy-arrow-design.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.perks {
    width: 80%;
    margin-right: 0;
    margin-left: 165px;
    padding-top: 70px;
    position: relative;
    top: 90px;
}

.art-spiral::after {
    content: ' ';
    position: absolute;
    top: -70px;
    right: 220px;
    background-image: url(../images/spiral-design.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 95px;
    background-size: contain;
}

.perks .logo {
    background-color: #fff0ce;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 45px;
}

.perks .logo svg {
    position: relative;
    top: 11px;
    left: 13px;
}

.perks .content {
    padding-left: 70px;
    width: 60%;
}

.features .wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.features .screen-image {
    width: 55%;
}

.features .screen-image img {
    width: 100%;
}

.features .content-text {
    width: 25%;
    padding-top: 100px;
}

.purchase-list-pos {
    position: relative;
    bottom: 262px;
    left: 132px;
    width: 85% !important;
}

.bundles-single-list-pos {
    position: relative;
    bottom: 300px;
    left: 145px;
    width: 80% !important;
}

.features .heading {
    font-size: 35px;
    position: relative;
}

.features .sub-text {
    font-size: 20px;
}

.multi-channel-bg {
    background-image: url(./../images/Multi\ Channel.svg);
    background-repeat: no-repeat;
    padding-left: 100px;
}

.bundles-kits-bg {
    background-image: url(./../images/Bundles\ &\ Kits.svg);
    background-repeat: no-repeat;
    padding-right: 100px;
}

.purchase-order-bg {
    background-image: url(./../images/Purchase\ Orders.svg);
    background-repeat: no-repeat;
    padding-left: 100px;
}

.grey-text {
    font-size: 20px;
    color: #80829c;
}

.push-right {
    padding-left: 50px;
}

.push-left {
    padding-right: 50px;
}

.how-it-works {
    padding-bottom: 50px;
    padding-top: 100px;
    position: relative;
}

.how-it-works .steps-number {
    background-color: #fff6e1;
    font-weight: bold;
    width: 90px;
    height: 90px;
    padding-left: 50px;
    border-radius: 10px;
}

.how-it-works .steps-number-style {
    color: #fbba45;
    font-size: 40px;
}

.how-it-works .steps-sub-content {
    width: 195%;
}

.how-it-works .shift-right {
    margin-right: 250px;
}

.how-it-works .steps-btn {
    margin-top: 60px;
    margin-left: 40%;
}

.customers {
    padding-bottom: 70px;
    padding-top: 100px;
}

.customers .logos {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customers .logos img {
    height: 45px;
}

.smartivity {
    height: 55px !important;
}

.huracan {
    height: 65px !important;
}

.testimonial-slider {
    padding: 90px 0 70px;
}

.testimonial-slider .yellow-bar::before {
    content: ' ';
    position: absolute;
    top: -15px;
    left: 730px;
    background-image: url(../images/divider.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 7px;
    background-size: contain;
}

.testimonial-slider .wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.views-co-feedback-container {
    width: fit-content;
}

.mosi-feedback-container {
    width: fit-content;
    padding-left: 30px;
}

.testimonial-slider .feedback {
    width: 95%;
    padding: 50px 40px 20px;
    background-color: #f3f7ff;
    border-radius: 25px;
    height: fit-content;
}

.testimonial-slider .color-sentence {
    font-size: 20px;
    text-align: center;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px;
}

.testimonial-slider .name-size {
    font-size: 18px;
}

.hannah-name-size {
    width: 100%;
}

.testimonial-slider .founder-name {
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 0;
}

.testimonial-slider .reviews {
    padding-left: 20px;
    font-size: 20px;
    width: 70%;
}

.testimonial-slider .five-stars {
    width: 120px;
    margin-left: 95px;
}

.testimonial-slider .founder {
    padding-left: 35px;
    margin-top: 5px;
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.mosi-five-stars {
    
}

.testimonial-slider .logos {
    width: 160px;
    padding-bottom: 40px;
    padding-left: 15px;
    margin-top: 30px;
}

.conclusion {
    width: 90%;
    background-color: #fff6e1;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 500px;
    position: relative;
}

.conclusion .header {
    margin-top: 180px;
}

.conclusion .heading {
    font-size: 30px;
}

.conclusion .sub-text {
    text-align: center;
    width: 40%;
    color: #38383e;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.conclusion .male-img {
    position: absolute;
    left: 20px;
    top: 110px;
}

.conclusion .female-img {
    position: absolute;
    top: 88px;
    right: 30px;
}

.conclusion .btn-container{
    padding: 60px 0px 0px 570px;
}


footer {
    background-color: black;
    padding: 80px 80px 40px;
    color: white;
}

footer .wrapper {
    width: 35%;
    font-size: 18px;
    margin-right: 85px;
}

.footer .product-company-help {
    padding-left: 50px;
}

.top-margin {
    margin-top: 65px;
}

.free-trial-long-text {
    width: 130%;
    margin-right: 100px;
}

.art-yellow-underline {
    position: relative;
    padding-right: 70px;
}

.art-yellow-underline::before {
    content: ' ';
    background-image: url(../images/heading-underline.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    z-index:-1;
}

.yellow-bar::before {
    content: ' ';
    position: absolute;
    top: -15px;
    left: 585px;
    background-image: url(../images/divider.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 7px;
    background-size: contain;
}

.art-dot-slash-curve-left::before {
    content: ' ';
    position: absolute;
    top: -60px;
    left: -45px;
    background-image: url(../images/design-2.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

.art-dot-slash-curve-right::after {
    content: ' ';
    position: absolute;
    top: -45px;
    right: 400px;
    background-image: url(../images/design-2.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    transform: rotate(50deg);
}

.art-dot-slash-straight::before {
    content: ' ';
    position: absolute;
    bottom: 40px;
    right: -30px;
    background-image: url(../images/design-4.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

.art-btn::before {
    content: ' ';
    position: absolute;
    left: -30px;
    bottom: 0px;
    background-image: url(../images/header-signin-left-design.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 52px;
}

.art-btn::after {
    content: ' ';
    position: absolute;
    right: -35px;
    bottom: 0px;
    background-image: url(../images/header-signin-right-design.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 52px;
}

.shine-tilt::after
{
    content: ' ';
    background-image: url(../images/design-fold-2.svg);
    background-repeat: no-repeat;
    width: 65px;
    height: 60px;
    position: absolute;
    bottom: 35px;
    right: 350px;
}


.art-spiral-arrow-left::before {
    content: ' ';
    background-image: url(../images/spiral-arrow-design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30px;
    left: 565px;
    width: 100px;
    height: 95px;
    transform: rotate(240deg);
}

.art-spiral-arrow-right::after {
    content: ' ';
    background-image: url(../images/spiral-arrow-design.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50px;
    right: 475px;
    width: 100px;
    height: 95px;
    transform: scaleX(-1) rotate(245deg);
}

.shine-parallel::after
{
    content: ' ';
    background-image: url(../images/shine-design.svg);
    background-repeat: no-repeat;
    width: 65px;
    height: 60px;
    position: absolute;
    bottom: 35px;
    right: 350px;
}

.art-s-curve::after {
    content: ' ';
    background-image: url(../images/testimonials-design-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
    height: 60px;
    position: absolute;
    bottom: 45px;
    left: 520px;
}

.art-dash-waves::before {
    content: ' ';
    background-image: url(../images/how-it-works-line-bg.svg);
    background-repeat: no-repeat;
    width: 70%;
    height: 35px;
    position: absolute;
    bottom: 330px;
    left: 208px;
    background-size: cover;
    z-index: -1;
}

.hide-lg {
    display: none;
}

.visible-lg {
    display: inline-block;
}

@media (min-width: 541px) {
    
}


@media (max-width: 540px) {

    .hide-sm {
        display: none;
    }

    .visible-sm {
        display: inline-block;
    }
    .text-center-sm {
        text-align: center;
    }

    .img-center {
       margin-left: auto !important;
       margin-right: auto !important;
       display: block;
    }

    .container {
        width: 100%;
    }

    .nav-options {
        display: none;
    }

    .nav-options-sm {
        padding-top: 50px;
    }

    .nav-options-sm a{
        margin-left: 50px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: black;
        padding-left: 50px;
        padding-bottom: 20px;
    }

    .nav-sm-btn{
        padding-left: 25px;
    }

    .nav-sm-btn .sm-btn {
        padding: 13px 50px;
        font-size: 16px;
        font-weight: bold;
    }

    .nav-bar img {
        margin-left: 30px;
        margin-top: 10px;
    }

    .menu_bar {
        height: 20px;
        padding-left: 60%;
        margin-top: 20px !important;
    }

    .art-yellow-underline::before {
        bottom: -3px;
        width: 80%;
        height: 10px;
        z-index: -1;
        background-size: contain;
    }

    .hero {
        display: block;
        padding: 30px 0 0 20px;
    }

    .hero .main-heading {
        font-size: 35px;
    }

    .hero .content {
        width: 100%;
    }

    .art-yellow-underline {
        display: inline-block;
    }

    .hero-img {
        display: none;
    }

    .sm-hero-img {
        width: 300px;
        margin-left: 40px;
        display: inline-block;
    }

    .sm-flex {
        display: flex;
    }

    .sm-block {
        display: block;
    }

    .video-logo {
        width: 55px;
        margin-left: 100px;
        margin-top: 15px;
    }

    .watch-video {
        margin-top: 30px;
        font-size: 17px;
        display: inline-block;
    }

    .hero .plans-text {
        margin-bottom: 50px;
        font-size: 20px;
    }

    .hero .sub-heading {
        font-weight: 100;
    }

    .hero .lg-btn {
        font-size: 18px;
        padding: 20px 35px;
    }

    .lg-btn {
        font-size: 20px;
        padding: 20px 40px;
    }

    .cta-btn {
        border-radius: 35px;
    }

    .hero .trail-btn {
        margin-left: 65px;
        margin-top: 40px;
    }

    .hero .rating {
    
    }

    .hero .capterra {
        width: 110px;
        height: 25px;
    }

    .hero .shopify {
        margin-left: 70px;
        margin-top: 20px;
        width: 100px;
    }

    .hero .five-stars {
        width: 130px;
        
    }

    .hero .star-text {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
        
    }

    .heading {
        font-size: 32px;
        position: relative;
        margin-left: 15px;
    }

    .integrations {
        padding: 100px 35px;
    }

    .yellow-bar::before {
        left: 150px;
    }

    .grey-text {
        font-size: 22px;
    }
    
    .shine-tilt::after {
        right: -15px;
    }

    .logo-container {
        display: flex;
        padding: 25px;
    }

    .logo-lg {
        height: 40px;
    }

    .logo-sm {
        width: 110px;
    }

    .logo-pos-down {
    
    }

    .integrations .logo-mid {
    
    }

    .right-gap {
        margin-right: 40px;
    }

    .etsy {
        margin-right: 45px;
        width: 90px;
    }

    .ebay {
        width: 100px;
    }

    .testimonial {
        width: 100%;
        padding: 0 20px 100px !important;
    }

    .testimonial .wrapper {
        width: 100%;
        background-color: #f3f7ff;
        padding: 0px 20px !important;
        border-radius: 20px;
    }

    .founder-name {
        left: 0px;
        bottom: 0px;
        font-size: 18px;
        margin-bottom: 0;
    }

    .info {
        width: 100%;
        font-size: 20px;
        padding-top: 45px;
        text-align: center;
    }

    .logo-dp {
        width: 120px;
        height: 120px;
    }


    .testimonial .ozdingo {
        width: 200px;
        height: 50px;
        position: relative;
        bottom: 30px;
        display: block;
        margin: auto;
        right: 0;
    }

    .testimonial .star-img {
        width: 125px;
        display: block;
        margin: auto;
    }

    .testimonial .star-text {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .testimonial .logo-container {
        position: relative;
        right: 0;
        bottom: 0;
        display: inline-block;
        padding-top: 0;
    }

    .testimonial .feedback {
        width: 100%;
        font-size: 20px;
        padding: 0 20px !important;
        border-right: 0;
        border-bottom: 2px solid #cadcff;
    }

    .testimonial .shopify {
        display: block;
        margin: 20px auto;
        position: relative;
        top: 0;

    }

    .testimonial .capterra {
        position: relative;
        top: 0;
        right: 0;
        margin-left: 0;
        width: 135px;
        height: 30px;
    }

    .testimonial .rating {
        width: 100%;
        padding-top: 20px;
        text-align: center;
        padding-left: 0;

    }

    .solution {
        padding-top: 50px;
        background-image: url(./../images/light-yello-bg-right-2.svg);
        background-repeat: no-repeat;
        background-position: center;

    }

    .stats .main-heading {
        font-size: 35px;
        width: 90%;
        margin-bottom: 0;
        position: relative;
    }
    .solution .sub-text {
        color: #50515f;
        font-size: 22px;
        width: 100%;
        margin-top: 0;
    }

    .art-four-bars::after {
        position: absolute;
        right: -120px;
    }

    .stats {
        width: 100%;
        padding: 0;
    }

    .art-spiral::after {
        display: none;
    }

    .perks {
        width: 100%;
        margin: 0 20px 0 20px;
        padding-top: 70px;
        position: relative;
        top: -80px;
    }

    .perks .content {
        padding-left: 0;
        width: 100%;
    }

    .perks .content span {
        padding-left: 120px;
    }

    .art-dash-waves::before {
        display: none;
    }

    .how-it-works {
        padding-top: 100px;
        padding-bottom: 130px;
    }

    .steps-wrapper {
        padding-left: 120px;
        
    }

    .how-it-works .container {
        width: 100%;
    }

    .how-it-works .grey-text {
        font-size: 20px;
    }

    .how-it-works .shift-right {
        margin-right: 100px;
    }

    .how-it-works .sub-heading {
        font-size: 22px;
    }

    .how-it-works .steps-sub-content {
        width: 100%;
    }

    .how-it-works .steps-number-style {
        
        font-size: 40px;
    }

    .how-it-works .steps-number {
        width: 75px;
        height: 75px;
        padding-left: 40px;
        border-radius: 5px;
    }

    .how-it-works .mid-btn {
            font-size: 18px;
            padding: 18px 45px;
            border-radius: 30px;
    }

    .how-it-works .steps-btn {
        margin-top: 40px;
        margin-left: 90px;
    }

    .art-spiral-arrow-left::before {
        left: 45px;
        bottom: 100px;  
        width: 75px;
        height: 60px;
    }

    .art-dot-slash-curve-right::after {
        right: 20px;
    }
    
    .how-it-works .text-container {
        width: 60%;
    }

    .how-it-works .yellow-bar::before {
        left: 190px;
    }

    .customers {
        padding-top: 0;
    }

    .customers .logos {
        display: inline-block;
        padding-left: 40px;
        padding-top: 20px;
    }

    .customers .logos img {
        height: 45px;
        margin: 0 0 35px 80px;
    }

    .smartivity {
        height: 60px !important;
    }

    .huracan {
        height: 65px !important;
        position: relative;
        right: 70px;
    }

    .shine-parallel::after {
        right: 15px;
        bottom: 30px;
    }

    .testimonial-slider {
        padding: 50px 45px 100px;
    }

    .testimonial-slider .feedback-container {
        padding: 0 45px 100px;
    }

    .testimonial-slider .yellow-bar::before {
        left: 130px;
    }

    .testimonial-slider .color-sentence {
        font-size: 22px;
        width: 85%;
        padding-bottom: 0;
    }

    .views-co-feedback-container {
        padding: 50px 0;
    }

    .testimonial-slider .feedback {
        width: 100%;
        padding: 50px 30px 20px;
    }

    .testimonial-slider .logo-dp {
        width: 65px;
        height: 65px;
        margin-left: 40%;
    }

    .testimonial-slider .founder-name {
        padding-left: 60px;
        margin-bottom: 0;
    }

    .testimonial-slider .founder {
        font-size: 18px;
        margin: 0;
        padding-left: 100px;
        padding-bottom: 0;
    }

    .testimonial-slider .five-stars {
        width: 50%;
        bottom: 0;
        left: 0;
        margin: 10px 0px 25px 65px;
    }

    .founder {
        font-size: 18px;
        margin-top: 0;
    }

    .testimonial-slider .logos {
        width: 140px;
        padding: 0;
        margin-left: 60px;
    }

    .testimonial-slider .reviews {
        width: 100%;
        bottom: 0;
        padding-left: 0;
    }

    .testimonial-slider .wrapper {
        display: inline-block;
        width: 100%;
    }

    .mosi-feedback-container {
        padding-left: 0;
    }

    .mosi-feedback-container .five-stars {
        width: 160px;
        bottom: 0;
        left: 0;
        margin: 10px 0px 10px 70px;
    }

    .mosi-feedback-container .founder-name {
        padding-left: 100px;
        margin-bottom: 5px;
    }

    .mosi-feedback-container .founder {
        font-size: 18px;
        margin: 0;
        padding-left: 110px;
        padding-bottom: 0;
    }





    .art-s-curve::after {
        left: -50px;
        bottom: 30px;
        width: 55px;
        height: 50px;
    }

    .conclusion {
        width: 100%;
        height: fit-content;
    }

    .conclusion .header {
        top: 0;
        padding-top: 50px;
    }

    .conclusion .heading {
       font-size: 25px;
       margin-left: 0;
    }

    .conclusion .sub-text {
        width: 100%;
    }

    .conclusion .grey-text_1 {
        margin-bottom: 0;
        padding-left: 0;
        color: #38383e;
        font-size: 20px;
    }

    .conclusion .grey-text_2 {
        margin-top: 0;
        padding-left: 15px;
        color: #38383e;
        font-size: 20px;
    }

    .conclusion .btn {
        left: 0;
        bottom: 0;
    }

    .conclusion .btn-container {
        padding: 40px 70px 90px 85px;
    }

    .conclusion .art-spiral-arrow-right::after {
        display: none;
    }

    footer {
        padding: 80px 30px 40px;
    }

    footer .wrapper {
        width: 100%;
    }

    .privacy-line1{
        font-size: 18px;
    }
        
}