body {
  background-color: white;
  margin:0;
  /* border: 10px dashed #deade5; */
}

.flex {
  display: flex;
}

.po1 {
  background-image: url(./../images/po1.webp);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  transition: 1s all ease-in-out;
}

.po1:hover {
  background-image: url(./../images/bossu1.jpg);
}

.po1 img {
  width:100%;
  height: 100%;
  visibility: hidden;
}

.po1:hover img{
  visibility: visible;
}

.po2 {
  background-image: url(./../images/po2.webp);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  transition: 1s all ease-in-out;
}

.po2:hover {
  background-image: url(./../images/burgir.png);
}

.po3 {
  background-image: url(./../images/po3.webp);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  transition: 1s all ease-in-out;
}

.po3:hover {
  background-image: url(./../images/bossu3.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.po4 {
  background-image: url(./../images/po4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  transition: 1s all ease-in-out;
}

.po4:hover {
  background-image: url(./../images/guitar.jpg);
}

header {
  background-color: #efb7df;
  background-image: url(./../images/polka\ dots.png);
  background-size: cover;
  color: white;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
}


header img {
  width: 100px;
  display: inline-block;
}

.content {
  margin-left: 50px;
}

section {
  color: #ec4bae;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

.name-meaning {
  color: #f47d92;
  font-weight: bold;
  font-size: 24px;
}

.centered {
  width:1100px;
  margin-left: auto;
  margin-right: auto;
}

.phrases {
  color: #9875e5;
}

.back-button-wrapper a {
  background-color: pink;
  color: white;
  font-size: 30px;
  border:10px solid pink;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.back-button-wrapper a {
  text-decoration: none;
}

.boudi img{
  width: 50px;
}

.po5 {
  background-image: url(./../images/po5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 65px;
  width: 300px;
  height: 300px;
  transition: 1s all ease;
}

.po5:hover {
  background-image: url(./../images/ironman.png);
  background-size: contain;
}