h1 {
  color: #ffe001;
  background-color: #00acac;
  border: 12px solid #ffe001;
  text-align: center;
  padding : 30px;
  margin: 0;
  margin-bottom: 30px;
  }

  .content {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  .w-med {
    width: 400px;
  }

  .w-small {
    width: 300px;
  }


body {
  background-color: purple;
  color: #cdb8d2;
  margin: 0;
  font-size: 20px
}

.shiru-bg {
  background-image: url(./../images/bg3.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

.list {
  font-size: 25px;
  background-color: #00acac;
  border: 8px solid #ffe001;
  font-weight: bold;
  color: #ffe001;
  padding: 30px 0 30px 40px;
  margin-left: 10px;
  width:  85%;
}


.back-button-wrapper {
  text-align: center;
}

.back-button-wrapper a {
  background-color: yellow ;
  color: #00acac;
  border: 6px solid #00acac;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  position: relative;
  bottom: 50px;
}

.box {
  display: inline-block;
  color: #93209f;
  text-align: center;
  margin-bottom: 50px;
}

.box a {
  display: block;
  margin-top: 30px;
  text-decoration: none;
}

.box-bg {
  height: 300px;
  background-image: url(./../images/bluebox.png);
  background-size: cover;
  background-position: center;
  position: relative;
  left: 145px;
  transition: 1.3s all ease ;
}

.box-bg:hover {
  background-image: url(./../images/tigress.png);
}

.box h2 {
  margin: 0;
  color: #ffe001;
  background-color: #00acac;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  border: 5px solid #ffe001;
  padding: 15px;
  transition: 0.5s all ease;
}

.box h2:hover {
  background-color: #ffe001;
  border: 5px solid #00acac;
  color: #00acac;
}

.box2 {
  position: relative;
  right: 55px;
}


.billie {
  height: 420px;
  border: 5px solid #f16b38;
  background-image: url(./../images/billie2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 100px;
  transition: 2s all ease;
}

.billie:hover{
  background-image: url(./../images/billie1.jpg);
}

.shiru-pic {
  height: 460px;
  margin: 30px;
  position: relative;
  left: 60px;
  border: 4px solid #ffe001;
  background-image: url(./../images/shiru2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1.5s all ease;
  
}

.shiru-pic:hover {
  background-image: url(./../images/shiru3.jpg);
  
}

.doraemon {
  height: 400px;
  position: relative;
  left: 80px;
  background-image: url(./../images/dora1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.doraemon:hover {
  background-image: url(./../images/dora2.png);
  background-size: contain;
}

.shiru-content {
  color: #ffe001;
  border: 6px solid #ffe001;
  background-color: #00acac;
  padding: 10px;
  font-size: 25px;
  width: 80%;
  position: relative;
  left: 6px;
}

.hobby {
  position: relative;
  left: 130px;
  background-color: #ffe001;
  border: 8px solid #00acac;
  color: #00acac;
  border-radius: 0px;
  padding: 20px;
  font-size: 40px;
  transition: 0.5s all ease;
  display: inline-block;
  margin-bottom: 0;
}

.hobby:hover {
  background-color: #00acac;
  border: 8px solid #ffe001;
  color: #ffe001;
}